%btn {
  width: 282px;
  height: 70px;
  font-size: 25px;
  font-weight: 700;
  color: $mainColor;
  border-radius: 10px;
  transition: border linear 0.5s;
  &:active {
    transform: translate(2px, 2px);
  }
}
